body,
html {
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    font-size: 16px;
}
#page {
    max-width: 1400px;
    width: 95%;
    margin: auto;
}
a {
    text-decoration: none;
}

/******************************HEADER*****************************/
header {
    display: flex;
    flex-direction: column;
}
h1 {
    color: #D59F33;
    font-size: 4em;
    font-weight: lighter;
}
.banner {
    display: flex;
}
.logo {
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title {
    margin-top: 2%;
    width: 80%;
    text-align: center;
    line-height: 0;
}
.title p {
    background-color: #063630;
    color: white;
    width: 28%;
    height: 20%;
    font-family: 'Alex Brush', cursive;
    font-size: 1.9em;
    line-height: 1.6;
    margin: auto;
}

/**------------INTRO------------*/
#intro{
    margin-top: -3%;
}
svg {
    width: 1360px;
    height: 24px;
}
path {
    stroke: #000000;
    stroke-width: 2px;
}
#svg2 {
    margin-bottom: 20px;
}
#strategy {
    display: flex;
    height: 60px;
    width: 70%;
    margin: auto;
    text-align: center;
}
#strategy p {
    font-size: 1.3em;
    font-family: "Century Gothic", "Courier New";
    margin: 0 auto ;
}

/****************************MAIN**************************/
#main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66%;
 }
 
/*--------------------NAV------------------ */
#mainMenu {
    width: 23%;
    height: 100%;
    font-family: "Century Gothic", "Courier New";
}
#mainMenu #menuMobile, #mainMenu .menuMobile{
    display: none;
}
.menu {
    padding: 0;
    margin: auto;
}
.menu li {
    height: 80px;
    line-height: 0.8;
    overflow: hidden;
    display: block;
    background-color: #B46D51;
    margin-bottom: 25px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.menu li:last-child {
    margin-bottom: 10px;
}

.menu li a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    color: #063630;
    position: relative;
}
#menuMerch, #menuTools{
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    color: #063630;
    position: relative;
    cursor: pointer;
}
.menuContent {
    width: 100%;
    position: absolute;
}
.menuTitle {
    color: #063630;
    font-size: 1.2em;
    margin-top: 10px;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.menuSubtitle {
    color: white;
    font-weight: lighter;
    margin-top: -5px;
    font-size: 1.1em;
    line-height: 1;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.menu li:hover {
    background-color: #E6D9CB;
}

.menu li:hover .menuTitle {
    color: #063630;
    font-size: 0.9em;
    font-weight: lighter;
    margin-top: 15px;
}

.menu li:hover .menuSubtitle {
    color: #B46D51;
    font-size: 1.1em;
    font-weight: bold;
}

.active {
    background-color: #E6D9CB;
}

.active .menuTitle {
    color: #063630;
}

.active .menuSubtitle {
    color: #B46D51;
}
.menu2 {
    width: 60%;
    margin: 0 0 7% 7%;
}
.menu2 li {
    height: 40px;
    margin-bottom: 10px;
    display: none;
    line-height: 2.5;
}
.menu2 li:hover {
    background-color: #E6D9CB;
}
.subMenu3, .subMenu4{
    text-align: center;
    position: relative;
}
/*------------------END NAV----------------*/

/* -----------------MAIN CONTENT----------------- */
#mainContent {
    width: 75%;
    height: 100%;
    position: relative;
}
/* ---slider--- */
#slide {
    height: 40%;
    width: 95%;
    display: flex;
    background-color: #E6D9CB;
    margin: auto;
}
/* .sliderJs{
    display: none;
} */
#slider{
    display: inline-block;
    margin: auto;
    width: 76%;
}
#slide2 {
    width: 86%;
    height: 405px;
    position: static;
}
#preview, #next{
    position: relative;
    top: 150px;
    cursor: pointer;
    font-size: 50px;
    color: #E6D9CB;
    background-color: #000000;
    opacity: 0.5;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#preview{
    float: left;
    right: 5%;
}
#next{
    float: right;
    left: 5%;
}
/* ---end slider--- */
#content1 {
    background-color: #B46D51;
    color:black;
    display: flex;
    flex-direction: column;
    margin: 20px 28px 0 28px;
    padding: 10px 0 10px 0;
}
#coaching {
    height: 100%;
    display: flex;
    padding-left: 20px;
}
#coaching div{
    width: 33%;
    border-left: 1px solid black;
    padding-left: 20px;
}
#coaching :first-child{
    border: none;
    padding-left: 0;
}
#coaching p{
    margin-right: 20px;
    text-align: justify;
}
#cv{
    text-align: center;
    margin: 20px 0 10px 0;
}
#content2 {
    background-color: #063630;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 20px 28px 0 28px;
    padding: 10px 0 10px 0;
}
#trust{
    height: 100%;
    display: flex;
    padding-left: 20px;    
}
#trust div{
    width: 33%;
    border-left: 1px solid white;
    padding-left: 20px; 
}
#trust :first-child{
    border: none;
    padding-left: 0;    
}
#trust p{
    margin-right: 20px;
    text-align: justify;
   
}
#content1 h2, #content2 h2{
    font-size: 1.1em;
    font-weight: lighter;
    font-family: "Century Gothic", "Courier New";
    text-align: center;
}
#cv :last-child{
    text-decoration: underline;
    color: #063630;
    font-weight: bold;
} 

/* ---------------Modal------------- */
#lien_cvJs .modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);    
}
.modal-wrapper{
    overflow: auto;
    height:100%; 
    width: 40%; 
    max-width: calc(100vw - 20px);
    max-width: calc(100vh - 20px);
    background-image: url("../images/cvIsabellePhelippot.png");
    background-repeat: no-repeat;
    
}
.js-modal{
    width: 5%;
    font-weight: bold;
    color: #063630;
    text-decoration: underline;
}
.js-modal-close{
    position: absolute;
    top: 20%;
    right: 22%;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1.3em;
    background-color: #f9c3cb;
    cursor: pointer;
}
/* ------------End modal----------- */
/* ******************************END MAIN*************************/


/* ********************************FOOTER*************************/
footer {
    background-color: brown;
    height: 17%;
}
#carrousel {
    background-color: yellow;
    margin-top: 15px;
}
#blocContact {
    font-size: 16px;

    background-color: burlywood;
    display: flex;
}
#joinMe {
    background-color: rgb(86, 86, 237);
    width: 30%;
}
#socialNetworks {
    background-color: rgb(210, 94, 94);
    width: 70%;
}
#navFooter {
    background-color: blue;
    /* height: 50px; */
}
#navFooter ul {
    text-align: center;
}
#navFooter ul li {
    display: inline;
    /* line-height: 50px; */
    margin-right: 20px;
}
#navFooter ul li a {
    color: black;
}
#blocNavInfos {
    display: flex;
    background-color: crimson;
    /* height: 150px; */
    padding: 5px 0 5px 0;
}
#infosSitemap {
    background-color: indigo;
    /* height: 50px; */
    font-size: 16px;
    /* line-height: 50px; */
}
#navInfos {
    width: 80%;
}
#infosSitemap p {
    text-align: center;
}
#up {
    background-color: darkgreen;
    height: 100%;
    width: 20%;
}
